@media screen and (max-width: 576px){
    #img-container{
        display: grid;
        grid-template-columns: 1fr;
        background: $colorClaro;

            .producto{
                display: flex;
                flex-basis: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                color: $colorUno;
                border-radius: 10px;
                font-family: $fuenteSecundaria;
                h2{
                    font-size: 18px;

                }
                p{
                    font-size: 14px;
                }
                
               
            }
        
            .img-item{
                display: block;
                align-items: center;
                padding-top: 5px;
                border-radius: 50%;
                
                
                img{
                display: block;
                mix-blend-mode: inherit;
                height: 200px;
                width: 200px;
                border-radius: 50%;
                
            }
           
        }
    }

        


#carouseldeco{
display: none;
.carrousel-item{
    flex-basis: 100%;
}

}


#envios{
display: flex;
flex-direction: row;
flex-basis: 100%;
img{

flex-basis: 100%;

}

}
#medios-horizontal{
    display: none;
}


#medios-responsive{
    margin:0%;
    padding: 0%;
    display: flex;
#pagos{
    
    flex-direction: column;
    justify-content: space-around;
        }
    }

.redes1{
    display: none;
}

#footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#registro1{
    display: none;
}
#registro2{
    display: flex;
        
        justify-content: flex-end;
        padding-right: 15px;
        
        a{
            justify-content: center;
            height: 50px;
            width: 50px;
            font-family: $fuenteSecundaria;
            text-align: center;
            
        }
    .iconify{
        font-size: 14px;
    }
}

#venta{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    
}
}


@media screen and (min-width:577px) and (max-width: 720px)  {
    #img-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        background: $colorClaro;

            .producto{
                display: flex;
                flex-basis: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                color: $colorUno;
                border-radius: 10px;
                font-family: $fuenteSecundaria;
                h2{
                    font-size: 18px;

                }
                p{
                    font-size: 14px;
                }
                
               
            }
        
            .img-item{
                display: block;
                align-items: center;
                padding-top: 5px;
                border-radius: 50%;
                
                
                img{
                display: block;
                mix-blend-mode: inherit;
                height: 200px;
                width: 200px;
                border-radius: 50%;
                
            }
           
        }
    }



#carouseldeco{
    display: none;
    .carrousel-item{
        flex-basis: 100%;
    }

}


#envios{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
        

}
#medios-horizontal{
    display: none;
}

#medios-responsive{
    margin:0%;
    padding: 0%;
    display: flex;
    
#pagos{
    
    flex-direction: row;
    justify-content: center;
   
        }
    }

    .redes-responsive{
        display: none;
    }

    #registro2{
        display: none;
    }
}

// Comienza media para tablet
@media screen and (min-width:721px) and (max-width: 1049px) {

    #carouseldeco{
        padding-top: 50px;
        .carrousel-item{
            flex-basis: 100%;
        }
    
    }

    .img-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
        background: $colorClaro;

            .producto{
                display: flex;
                flex-basis: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                color: $colorUno;
                border-radius: 10px;
                font-family: $fuenteSecundaria;
                h2{
                    font-size: 20px;
                }
               
            }
        
            .img-item{
                display: block;
                align-items: center;
                padding-top: 5px;
                border-radius: 50%;
                
                
                img{
                display: block;
                mix-blend-mode: inherit;
                height: 220px;
                width: 220px;
                border-radius: 50%;
                
            }
           
        }
    }

    
    

    #medios-responsive{
        display: none;
    }
    
        .redes-responsive{
            display: none;
        }
        
    #registro2{
        display: none;
    }

}
      
        #envios{
            display: block;
            align-items: center;
            padding-top: 30px;
            .img-envios{
                display: block;
                mix-blend-mode: inherit;
                height: auto;
                width: 100%;
        }       
        
    }
    
    

// Comienza media para PC
@media screen and (min-width: 1050px){

    #carouseldeco{
        padding-top: 20px;
        .carrousel-item{
            flex-basis: 100%;
        }
    
    }

    #medios-responsive{
        display: none;
    }
    
    
    #registro2{
        display: none;
    }
        
    
    .redes-responsive{
        display: none;
    }

    .contacto-img{
        width: auto;
        height: 500px;
        background: transparent;
       
        
        
        .contacto{
            background-image: url(img/contactofondo.jpg);
            
           }
        
       
  
    }

    .footer-contacto{
        padding-top: 130px;
    }
}
