$fuentePrincipal: 'Montserrat', sans-serif;
$fuenteSecundaria: 'Quicksand', sans-serif;
$colorLetraClaro: #EEE5E9;
$colorUno: #29335C;
$colorDos: #F9DED7;
$colorTres: #17c3b2;
$colorCuatro: #8E94F2;
$colorCinco: #FE938C;
$colorSeis: #fee440;
$backgroundColor:#EEE5E9 !default;
$colorBoton1: #3e4283;
$colorBoton2:#17c3b2;
$colorClaro: #fdffb6;
$colorHeader:#29335C;
$colorPueba2:#ffe66d;
$colorPrueba3: #ffb703;



